@use '../tokens' as *;

.recipe-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto auto;
  gap: 0.65rem;

  li {
    border: none;
    border-radius: $radius-lg;
    overflow: hidden;
    transition: box-shadow 0.25s ease;
    padding: 4cqi;
    text-align: center;
    img {
      margin-block-end: 4cqi;
    }
  }

  a {
    display: contents;
    font-family: $font-display;
    img {
      transition: box-shadow ease-in-out 250ms, transform ease-in-out 250ms;
    }
    &:hover img {
      transform: scale(1.05);
      box-shadow: $shadow-nav;
    }

    &:hover span {
      color: $brand;
    }
  }

  img {
    display: block;
    width: 100%;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
    transition: transform 0.25s ease;
  }

  span {
    color: $text-base;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    align-self: start;
  }
}
