---
layout: base.njk
title: Recipes
pageScript: main.js
---
<section>
  <input id="search" type="search" placeholder="Search recipes…" autocomplete="off">
</section>
<ul class="recipe-list">
  {% for item in collections.recipe %}
  <li data-id="{{ item.data.id }}">
    <a href="{{ item.url }}">
      {% if item.data.image %}<img src="{{ item.data.image }}" alt="{{ item.data.title }}">{% endif %}
      <span class="headline">{{ item.data.title }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
